<div id="home">


	<span id ="navbar1" style="font-size:30px;cursor:pointer;display:block;" onclick="openNav()">&#9776;
        <p id ="headerWords">BREW-STASH</p>
    </span>


	<div id="mySidenav" class="sidenav">
        <span id ="navbar2" style="font-size:30px;cursor:pointer;" onclick="closeNav()">&#9776;<p id ="headerWords">BREW-STASH</p></span>
        <img id="logoNav" src="/images/logonav.png" alt="nav logo">
        <div class="navButtonsContainer">
          <button id="navLoginButton">LOG IN</button>
          <button id="navCreateAccountButton">CREATE ACCOUNT</button>
          <button id="navHomePageButton">HOME PAGE</button>
        </div>
	</div>




  <div class="container col-10" >
        <div id="breweryContainer">
          <h1>Local Breweries</h1>
          <ul class="breweryUnorderdList">
            {{#each brewery}}
              {{> breweries/view-block}}
            {{/each}}
          </ul>
      </div>
      <a class="newLogoutButton" href="/logout">
        <button id="homeButtonBrewery" class="btn btn-primary homeButton">GO BACK</button>
      </a>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/viewport.js"></script>
