    <div class="breweryListItem" id="brewery{{id}}">
        <p class="breweryDescription">
            {{brewer_name}}<br>
            {{address}}
        </p>
        <button class="seeDrinks btn btn-light" data-id="{{id}}">See drinks</button>
    </div>